<div id="producto_detalle">
	<div id="quote_quote_details">
		<table id="product_table">
			<thead>
			<tr>
				<th>c&oacute;digo</th>
				<th>edad</th>
				<th>meses</th>
				<th>sexo</th>				
				<th>descripción</th>
				<th>foto</th>
				<th>cantidad</th>
				<th>precio</th>				
				<th width="10">¿Adicional?</th>
				<th width="10">¿no disponible?</th>				
				<th width="10">pack</th>				
				<th></th>					
				<th></th>									
			</tr>						
			</thead>
			<tbody id="product_table_body">
		<% @sum = 0 %>
		<% if @quote_details.empty?  %>
		<tr>
			<td colspan="13">
				<p>Agregue productos a la cotizaci&oacute;n para visualizarlos</p>
			</td>
		</tr>
		<%- else -%>
		<% i = 0 %>	
		<% @quote_details.each do |quote| %>
    <% price = quote_detail_price(quote,@quote.price_type,quote.product) %>
    <% price = 0.0 if price.nil? %>
    <% subtotal = price*quote.quantity unless quote.quantity.nil? %>
    <% subtotal = 0.0 if subtotal.nil? %>
    <% @sum +=  subtotal %>

      <%= render :partial => "product_item", :locals=>{:quote => quote, :price => price } %>
		</tr>
		
		<% end %>
		
		<%- end -%>
			</tbody>
		</table>
		<div class="subtotal"><p>Total: S/. <%= @sum || 0.0 %></p></div>
		<% @total_toys =  @quote_details.inject(0){|total,q| total + (q.quantity||0.00) } || 0.00  %>
		<div class="subtotal"><p>Total de Juguetes: <%= @total_toys %></p></div>
		<% unless @total_toys.zero? %>
		<div class="subtotal"><p>Promedio por Juguete: S/. <%= (@sum / @total_toys).round(2) || 0.0 %></p></div>				
		<% end %>
	</div>
	
</div>
