<div id="detail_list">
	
<div style="clear:both"></div>
<h3>Lista de Productos Ingresados</h3>

<table id="edit_order">
	<thead>
	<tr>
		<th>item</th>
		<th>C&oacute;digo</th>				
		<th>Cantidad</th>		
		<th>Nombre</th>
		<th>Descripci&oacute;n</th>
		<th>Precio</th>				
		<th></th>
	</tr>						
	</thead>
	<tbody>
		
		<span id="messages"><%= flash[:error] %></span>
		<span id="product_error"></span>
			
		<%= render :partial =>"orders/detail", :collection=>@order.order_details %>
		
	</tbody>
</table>

<h3 id="subtotal">Total: S/.<%= @order.price %></h3>

</div>