<div id="content">

		<img id="header-image" src="../images/web/catalogo-header.png" />

	</div> <!-- content -->
	
	
	<div id="header-strip">
		
		<p>revisa <em><%= link_to "nuestras ofertas", url_for(:action=>:search_product, :q=>"ofertas || remate") %></em> y nuestros <em><%= link_to "&uacute;ltimos productos",url_for(:action=>:search_product, :q=>"novedad") %></em></p>

	</div> <!-- header-strip -->


		
<div class="end_content"></div>


<div id="full_inside">


  <div id="christmas_price">
	<p class="first">&iexcl;Convenio Campa&ntilde;a Escolar 2009!</p>

  <p>Ofrece a  usted cordialmente, el Servicio de Venta de Utiles y Textos escolares para sus 
  trabajadores en las modalidades siguientes :</p>

    <ol>
      <li>
         <strong>Descuento Por Planilla</strong> : Es el cr&eacute;dito que otorgamos en forma <strong>r&aacute;pida y simple</strong>
         a los trabajadores de instituciones p&uacute;blicas y privadas que hayan firmado convenio con la 
         Sky Kids Import S.A.C., y su cancelaci&oacute;n se realiza descontando mensualmente del sueldo 
         el importe de la cuota.
      </li>
    </ol>


  <p>Trabajamos con todas las editoriales: Santillana, Norma, Editorial Bru&ntilde;o, Ediciones B&iacute;blicas, Escuela Nueva, Escuela Activa, Richmond, Editorial Brasa, Corefo;  con descuento desde el 5% hasta el 20 % en textos escolares</p>

  <p>As&iacute; como en utiles escolares con marcas como Faber Castell, Pelikan, UHU, Artesco, Pilot, David, Standford, Norma, 3M, Gallo, Alpha, Staedler, Stabilo, Tekno, Layonsa, Arti.</p>

  <p>Y nuestras importaci&oacute;n de bolsos y mochilas Mattel con personajes de Barbie, Hotwheels, Los Padrinos M&aacute;gicos, Scooby Doo y otros m&aacute;s</p>

  <p>Para detalles adicionales, la Srta. Ana Sarmiento cordialmente los atendera via e-mail asarmiento@skykidsperu.com</p>

  <p>Preguntar por nuestro servicio Delivery</p>
	
  </div>
  
  <div id="text_content">
    

  
  <div class="store">

		<div class="details">
			<h4>Tienda El Trigal</h4>
			<p class="address">
				Centro Comercial &quot;La Alborada&quot;, Tienda 104 y 105 en Santiago de Surco
				<br />Telefax: 271-1253 / Nextel: 98-110*8168  
			</p>					
		</div>

		<div class="map">
			<a class="photo" href="/images/web/mapa1.png" title="Mapa Tienda El Trigal">
				<img src="/images/web/ministore1.png" alt="Mapa Tienda El Trigal"/>
			</a>
		</div>
	</div>
	
	  </div>  
  
</div>

