	<div id="content">

			<img id="header-image" src="../images/web/conocenos-header.png" alt="Conócenos" />

		</div> <!-- content -->
		
		
		<div id="header-strip">
			
			<p> conoce <em><%= link_to "qui&eacute;nes somos", "#quienes-somos" %></em>, qué nos hace <em><%= link_to "diferentes","#diferentes" %> y <%= link_to "qu&eacute; ofrecemos", "#" %></em></p>

		</div> <!-- header-strip -->


			
	<div class="end_content"></div>



	<div class="start_subcontent"></div>

	<div id="inside">


		<div id="text_content">

			<h1 id="quienes-somos">&iquest;qui&eacute;nes somos?</h1>
 
			<a class="photo right" href="/images/web/tienda1.jpg" title="SkykidsPer&uacute; Import les d&aacute; la bienvenida">
				<img src="/images/web/tienda1b.jpg" style="float:right;" alt="SkykidsPer&uacute; Import les d&aacute; la bienvenida"  />
			</a>

			<p>Con <strong>13 a&ntilde;os de experiencia</strong>, Skykids Import continua en su tarea de encontrar, seleccionar y poner a su disposici&oacute;n 
			productos importados desde Estados Unidos, Israel, China y otros.</p> 

			<p>Nuestra labor nos ha permitido situarnos como <strong>l&iacute;deres en el medio</strong>, brindando una amplia gama de l&iacute;neas de juguetes,
			especialmente elegidos seg&uacute;n edades y gustos del mercado nacional. Complementado a nuestro servicio permanente de 
			consultor&iacute;a, estamos seguros que puede encontrar en <%= link_to "nuestro cat&aacute;logo", web_catalogue_path %> y tiendas los productos que busca, y permitirlo
			 a&ntilde;adirlo a nuestra <strong>creciente lista de clientes</strong>.</p>


			<h2 id="diferentes">&iquest;por qu&eacute; nos diferenciamos?</h2>

			<a class="photo left" href="/images/web/tienda2.jpg" title="Alta calidad de servicio">
				<img src="/images/web/tienda2b.jpg" style="float:left;" alt="Alta calidad de servicio" />
			</a>
			
			<p>Buscamos ser una alternativa <strong>diferente en el medio</strong>, orientados a brindar la mejor experiencia de compra en
			nuestras tiendas, servicios en l&iacute;nea y asesor&iacute;a. Tenemos pasi&oacute;n en nuestro trabajo, seleccionando cuidadosamente
			 cada producto que ofrecemos, estampando calidad desde el momento de la selecci&oacute;n, durante la importaci&oacute;n y 
			transporte hacia nuestras tiendas y finalmente hasta su inventariado, etiquetado y venta.</p> 

			<p>Desde juegos de mesa y figuras de acci&oacute;n, pasando por una larga diversidad de peluches y accesorios, creemos
			que nuestro cat&aacute;logo podr&aacute; <strong>cautivar su inter&eacute;s.</strong></p> 


			<h2>conoce nuestras tiendas</h2>

			<p>Cada una de nuestras tiendas se convierte en el punto de entrada hacia nuestro servicio. <strong>Nos orgullecemos</strong> de 
			brindarles un espacio animado, distinto y amigable donde revisar nuestros productos, recibir asesor&iacute;a personalizada
			frente a sus necesidades y <strong>compartir un momento &uacute;nico con nosotros</strong>.</p>  

			<div id="stores"></div>


			<p>&iexcl;Ven a visitarnos! Tenemos actualmente dos tiendas orientadas a la venta directa. Nos puedes encontrar en el 
			Centro Comercial &quot;La Alborada&quot;, Tienda 104, 205 y 206 en Santiago de Surco y en el 
			Centro Comercial &quot;El Polo&quot;, Tienda A222 en Monterrico, Santiago de Surco Lima.</p> 

			<div class="store">

				<div class="details">
					<h4>Tienda El Trigal</h4>
					<p class="address">
						Centro Comercial &quot;La Alborada&quot;, Tienda 104 y 105 en Santiago de Surco
					</p>					
				</div>

				<div class="map">
					<a class="photo" href="/images/web/mapa1.png" title="Mapa Tienda El Trigal">
						<img src="/images/web/ministore1.png" alt="Mapa Tienda El Trigal"/>
					</a>
				</div>
			</div>

			<div class="store">
				
				<div class="details">
					<h4>Tienda El Polo</h4>
					<p class="address">
						Centro Comercial &quot;El Polo&quot;, Tienda A226 en Monterrico, Santiago de Surco Lima
					</p>
				</div>
				
				<div class="map">
					<a class="photo" href="/images/web/mapa2.png" title="Mapa Tienda El Polo">
						<img src="/images/web/ministore2.png" alt="Mapa Tienda El Polo"/>
					</a>
				</div>
			</div>


		</div> <!-- text_content -->

		
	</div>