<div id="content">

		<img id="header-image" src="../images/web/conocenos-header.png" alt="Conócenos" />

	</div> <!-- content -->
	
	
	<div id="header-strip">
		
		<p> conoce <em><%= link_to "qui&eacute;nes somos", "#quienes-somos" %></em>, qué nos hace <em><%= link_to "diferentes","#diferentes" %> y <%= link_to "qu&eacute; ofrecemos", "#" %></em></p>

	</div> <!-- header-strip -->


		
<div class="end_content"></div>



<div class="start_subcontent"></div>

<div id="inside">


	<div id="text_content">

		<h1 id="quienes-somos">&iquest;Con qui&eacute;nes trabajamos?</h1>

<ul id="client_list">
	<li>
		<img src="/images/web/logo-kimberly.png"alt="Logo Kimberly">
		<span>Kimberly Clark Peru S.R.L.</span>					  					
	</li>
	<li>
		<img src="/images/web/logo-skanska.png"alt="Logo Skanska">
		<span>Skanska Del Peru S.A. </span>                        					
	</li>
	<li>
		<span class="nologo">Thunderbird Fiesta Casino - Benavides S.a</span>
	</li>              
	<li>
		<img src="/images/web/logo-hotel.png"alt="Logo Hotel Las Am&eacute;ricas">
		<span>Thunderbird Hoteles Las Americas S.a.,</span>
	</li>              
	<li>
		<img src="/images/web/logo-tecsur.png"alt="Logo Tecsur">
		<span>Tecsur S.A.</span>                                     			
	</li>              
	<li>
		<img src="/images/web/logo-luz.png"alt="Logo Luz del Sur">
		<span>Luz Del Sur S.A.A.</span>                             			</li>              
	<li>
		<img src="/images/web/logo-laive.png"alt="Logo Laive">
		<span>Laive SA</span>
	</li>              
	<li>
		<img src="/images/web/logo-nestle.png"alt="Logo Nestle">
		<span>Nestle Peru S.A</span>
	</li>              
	<li>
		<img src="/images/web/logo-yobel.png"alt="Logo Yobel">
		<span>Yobel Scm Costume Jewelry S.A</span>                  			</li>              
	<li>
		<img src="/images/web/logo-yobel.png"alt="Logo Yobel">
		<span>Yobel Scm Logistics S.A.</span>                       			</li>              
	<li>
		<img src="/images/web/logo-yobel.png"alt="Logo Yobel">
		<span>Yobel Supply Chain Management S.A.</span>             			</li>              
	<li>
		<span class="nologo">Agricola Las Llamozas S.A.</span>                     			</li>              
	<li>
		<img src="/images/web/logo-aib.png"alt="Logo Agroindustrias AIB">
		<span>Agroindustrias Aib S.A</span>                         			</li>              
	<li>
		<img src="/images/web/logo-arcor.png"alt="Logo Arcor del Peru">
		<span>Arcor De Peru SA</span>                              			</li>              
	<li>
		<img src="/images/web/logo-mapfre.png"alt="Logo Mapfre Peru">
		<span>Mapfre Peru Compañia De Seguros Y Reaseguros S.A.	</span>
	</li>
	<li>
		<img src="/images/web/logo-mapfre.png"alt="Logo Mapfre Peru">
		<span>Mapfre Peru Vida Compania De Seguros</span>
	</li>
	<li>
		<img src="/images/web/logo-tasa.png"alt="Logo Tecnologica de Alimentos">
		<span>Tecnologica De Alimentos S.A.</span>
	</li>
	<li>
		<img src="/images/web/logo-cfg.png"alt="Logo CFG Investment">
		<span>CFG Investment SAC</span>
	</li>
	<li>
		<img src="/images/web/logo-pesquera.png"alt="Logo Pesquera Exalmar">
		<span>Pesquera Exalmar S.A.</span>
	</li>
	<li>
		<span class="nologo">Sandvik Del Perú S.A.</span>
	</li>
	<li>
		<img src="/images/web/logo-banmat.png"alt="Logo BanMat">
		<span>Banco De Materiales S.A.C.</span>
	</li>
	<li>
		<span class="nologo">Brandt Servicios Petroleros S.A.</span>
	</li>
	<li>
		<span class="nologo">Calsa Peru S.A.C.</span>
	</li>
	<li>
		<img src="/images/web/logo-talma.png"alt="Logo BanMat">		
		<span>Talma Menzies S.R.L</span>
	</li>
	<li>
		<span class="nologo">Cobrecon S.A.</span>
	</li>
	<li>
		<img src="/images/web/logo-antamina.png"alt="Logo Antamina">				
		<span>Compania Minera Antamina S.A.</span>
	</li>
	<li>
		<img src="/images/web/logo-cassinelli.png"alt="Logo Cassinelli">				
		<span>Cassinelli SA</span>
	</li>
	<li>
		<img src="/images/web/logo-proempresa.png"alt="Logo Proempresa">	
		<span>Edpymes Proempresa S.A.</span>
	</li>
	<li>
		<img src="/images/web/logo-edyficar.png"alt="Logo Edyficar">			
		<span>Empresa Financiera Edyficar S.A.A.</span>
	</li>
	<li>			
		<span class="nologo">Nessus Hoteles Peru S.A.A.</span>
	</li>
	<li>
		<img src="/images/web/logo-red.png"alt="Logo Red De Energia">		
		<span>Red De Energia Del Peru SAA.</span>
	</li>
	<li>
		<img src="/images/web/logo-lan.png"alt="Logo Lan">		
		<span>Lan Peru S.A.A.</span>
	</li>
	<li>
		<span class="nologo">Servicio De Call Center Del Peru SACA.</span>
	</li>
	<li>
		<img src="/images/web/logo-prisma.png"alt="Logo Prisma">				
		<span>Asociacion Benefica Prisma.</span>
	</li>
	<li>
		<span class="nologo">Vulco Peru S.A.A.</span>
	</li>
	<li>
		<img src="/images/web/logo-wood.png"alt="Logo Wood Group">				
		<span>Wood Group Perú S.A.C.A.</span>
	</li>
	<li>
		<span class="nologo">Consorcio De Apoyo Publicitario S.A.C.</span>
	</li>
	<li>
		<span class="nologo">Yacht Club Peru S.A.</span>
	</li>
	<li>
		<span class="nologo">Aduanera Capricornio S.A.</span>
	</li>
	<li>
		<img src="/images/web/logo-agp.png"alt="Logo AGP">			
		<span>AGP Peru SAC.</span>
	</li>
	<li>
		<span class="nologo">AGA S.A.A.</span>
	</li>
</ul>



	</div> <!-- text_content -->

	
</div>