<div id="content">

		<img id="header-image" src="../images/web/servicios-header.png" alt="Servicios" />

	</div> <!-- content -->
	
	
	<div id="header-strip">
		
		<p> conoce <em><%= link_to "qui&eacute;nes somos", "/web/conocenos#quienes-somos" %></em>, qué nos hace <em><%= link_to "diferentes","/web/conocenos#diferentes" %> y <%= link_to "qu&eacute; ofrecemos", "#que-hacemos" %></em></p>

	</div> <!-- header-strip -->


		
<div class="end_content"></div>



<div class="start_subcontent"></div>

<div id="inside">


	<div id="text_content">

		<h1 id="que-hacemos">conoce nuestros servicios</h1>

		<p id="intro">Desde nuestros inicios, elegimos diferenciarnos y presentarles una alternativa completa y confiable en 
		todos nuestros servicios y actividades.</p>

		<h2>importaci&oacute;n directa</h2>

		<a class="photo right" href="/images/web/tienda3.jpg" title="Importaciones de productos y venta directa">
			<img src="/images/web/tienda3b.png" style="float:right;" alt="Importaciones de productos y venta directa" />
		</a>

		<p>Trabajamos <strong>directamente</strong> con proveedores en Hong-Kong 
		(China), Telaviv (Israel) y Nueva York (Estados Unidos) para importar juguetes de <strong>alta calidad y 
		diversidad</strong>. Nos aseguramos de contar con certificados originales, y de que cada uno de ellos siga un 
		estricto <strong>control de calidad</strong> en las f&aacute;bricas de origen a trav&eacute;s de nuestros agentes 
		en los respectivos pa&iacute;ses.</p>			
			
		<p>Contamos siempre con muestras de nuestro cat&aacute;logo a su disposici&oacute;n en nuestro showroom, ubicado en el
		<a href="/images/web/mapa1.png"> Centro Comercial Alborada, Oficina 205-206 El Trigal, Santiago Surco</a>. 
		Adicionalmente, importamos en <strong>grandes vol&uacute;menes</strong> para contar siempre con suficiente stock para 
		cumplir con sus necesidades.</p>
			
		<div id="importacion"></div>


		<h2>showroom</h2>

		<p>&iquest;Qui&eacute;res conocer nuestros productos? Poseemos un Showroom destinado a mostrar a nuestros potenciales 
		clientes los <strong>&uacute;ltimos productos que hemos importado</strong>. Contamos con personal experimentado en 
		atenderlos y brindarles asesor&iacute;a y consejo. Actualizamos nuestro cat&aacute;logo de productos continuamente, 
		as&iacute; que si ya nos visitaste, no dudes en <strong>hacerlo nuevamente</strong>. </p>

		<div class="store">

			<div class="details">
				<h4>Showroom</h4>
				<p class="address">
					Centro Comercial &quot;La Alborada&quot;, Oficina 205 y 206 en Santiago de Surco
				</p>					
			</div>

			<div class="map">
				<a class="photo" href="/images/web/mapa1.png" title="Mapa Tienda El Trigal">
					<img src="/images/web/ministore1.png" alt="Mapa Tienda El Trigal"/>
				</a>
			</div>
		</div>

		<h2>venta al por mayor</h2>
		
		<p>Ofrecemos nuestros servicios de venta al por mayor a empresas, a trav&eacute;s de convenios y compra directa. 
		Cont&aacute;ctanos	para m&aacute;s detalles. Y para estar seguros de cumplir con tus necesidades, ofrecemos 
		env&iacute;os locales y a provincias.</p>

		<h2>vales por navidad</h2>
		<p>En las &eacute;pocas navide&ntilde;as ofrecemos nuestro <a href="http://www.skykidsperu.com/web/vale_navidad">programa de vales navide&ntilde;os</a>, adecuados a sus necesidades.</p>

		<h2>cat&aacute;logos</h2>

		<img src="/images/web/catalogo.png" alt="Cat&aacute;logo" style="float:right"/>

		<p>&iquest;requieres un cat&aacute;logo que se <strong>ajuste a tus necesidades</strong>? Preparamos seg&uacute;n tu 
		conveniencia cat&aacute;logos personalizados en medio impreso o digital que puedas incorporar a un sistema de su 
		empresa. No olvides visitar nuestro cat&aacute;logo en l&iacute;nea en &eacute;sta <a href="/web/catalogo">misma 
		p&aacute;gina</a>.</p>


		<h2>muestras y exposiciones</h2>

		<p>Continuamente participamos en ferias y exposiciones mostrando nuestras <strong>&uacute;ltimas novedades</strong> en 
		distintas l&iacute;neas de producto y estamos siempre dispuestos en participar en otras m&aacute;s. Poseemos 
		tambi&eacute;n <strong>material de exhibici&oacute;n</strong> que puede ser solicitado para su env&iacute;o a sus 
		oficinas previa coordinaci&oacute;n.</p>


		<h2>almac&eacute;n y centro de distribuci&oacute;n</h2>
		
		<p>nuestro centro de distribuci&oacute;n les ofrece servicios de reserva de stock en diversos productos, asesor&iacute;as
		para especializada en su compra, envoltura de regalos en &eacute;pocas festivas y un excelente servicio post-venta en 
		productos que lo requieran.</p>
		
		<p>Si su empresa lo requiere, también ofrecemos nuestro servicio de embolsado personalizado, incluyendo el logo y 
		detalles de su empresa.</p>
		
		<a  href="/images/web/almacen.jpg" title="almac&eacute;n de productos en jun&iacute;n">
			<img src="/images/web/almacenb.png" alt="almac&eacute;n de productos en jun&iacute;n" />
		</a>

		<a  href="/images/web/tienda5.jpg" title="servicios de venta directa y consultor&iacute;a">
			<img src="/images/web/tienda5b.png" alt="servicios de venta directa y consultor&iacute;a" />
		</a>

		<a  href="/images/web/tienda4.jpg" title="servicio de empapelado personalizado">
			<img src="/images/web/tienda4b.png" alt="servicio de empapelado personalizado" />
		</a>


	</div> <!-- text_content -->

	</div> <!-- inside -- >