<table width="600px" align="center" cellspacing="0" cellpadding="0" border="0" bgcolor="#3399ff">
    <!-- linea azul superior -->
    <tbody>
        <tr>
            <td width="5px">&nbsp;</td>
            <td height="5px">&nbsp;</td>
            <td width="5px">&nbsp;</td>
        </tr>
        <!-- linea azul central -->
        <tr>
            <td>&nbsp;</td>
            <td bgcolor="#ffffff"><!-- contenido, en tabla aparte -->
            <table cellspacing="0" cellpadding="0" border="0" align="center" style="width: 461px; height: 185px;">
                <tbody>
                    <tr>
                        <td valign="middle" height="200px" align="center"><img alt="" src="http://www.skykidsperu.com/images/web/logo-header.png" /></td>
                    </tr>
                    <tr>
                        <td>
                        <p style="text-align: center;">
                          <span style="color: rgb(51, 153, 255);">
                          <span style="font-size: medium;">
                            <span style="font-family: Tahoma;">&nbsp;
                              <font><b>&iexcl;VISITE NUESTRO SHOW ROOM!</b></font>
                            </span>
                          </span>
                          </span>
                          </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        <p><span style="font-size: small;"><span style="font-family: Tahoma;">Los invitamos desde este <strong><span style="color: rgb(153, 204, 0);">Lunes 26 de Octubre</span></strong> hasta el <strong><span style="color: rgb(153, 204, 0);">20 de diciembre</span></strong><span style="color: rgb(153, 204, 0);"> </span>a la exhibici&oacute;n de nuestra nueva y variada l&iacute;nea de juguetes para la <span style="color: rgb(153, 204, 0);"><strong>Campa&ntilde;a Navide&ntilde;a 2009.</strong></span> </span></span></p>
                      
                        <p><span style="color: rgb(51, 153, 255);"><strong><span style="font-size: medium;">&iquest;D&Oacute;NDE?</span></strong></span><br />
                        <span style="font-size: small;"><span style="font-family: Tahoma;">Los esperamos de <strong>Lunes a Viernes de 9 am. a 8 pm</strong>. (previa cita) en </span></span></p>
                        <p style="text-align: center;"><span style="font-family: Tahoma;"><span style="color: rgb(153, 204, 0);"><strong><span style="font-size: small;">Centro Comercial La Alborada Tda-205-206, Alt Cdra 46 Av. Benavides con Velasco Astete (Alt. feria el Trigal) Santiago de Surco</span></strong></span></span></p>
                        <p style="text-align: center;"><a href="http://www.skykidsperu.com/images/web/mapa1.png"><img alt="" style="width: 336px; height: 192px;" src="http://www.skykidsperu.com/images/web/mapa1.png" /></a></p>
                        <p><span style="color: rgb(51, 153, 255);"><span style="font-size: medium;"><strong>CONT&Aacute;CTENOS</strong></span></span><br />
                        Comun&iacute;quese <span style="font-size: small;"><span style="font-family: Tahoma;">con la se&ntilde;ora Ana Sarmiento, quien cordialmente los atender&aacute;.</span></span><span style="font-family: Tahoma;"><br />
                        <br />
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color: rgb(153, 204, 0);"><strong>Tel&eacute;fonos Fijos :</strong></span>&nbsp; </span><span style="font-family: Tahoma;">724-1542 / 724-1466 / 271-1253<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color: rgb(153, 204, 0);"><strong>Celular:</strong></span>&nbsp; </span><span style="font-family: Tahoma;">  981-108168 / 992-930704
                        </span><span style="font-family: Tahoma;"> <span style="color: rgb(153, 204, 0);"><strong>Nextel:</strong></span> <span style="font-family: Tahoma;">110*8168<br />
                        </span><span style="color: rgb(153, 204, 0);"><strong><span style="font-family: Tahoma;">                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-family: Tahoma;">Email:</span></strong></span>
                        <span style="font-family: Tahoma;">&nbsp;asarmiento@skykidsperu.com<br />
                        &nbsp;</span></p>
                        <p style="text-align: left"><span style="font-size: medium;"><span style="font-family: Tahoma;"><strong>Fabrizio Parise</strong></span></span></p>
                        <p style="text-align: center;"><span style="font-family: Tahoma;">IMPORTADORES DIRECTOS CHINA, USA, ISRAEL<br />
                        <br />
                        </span></p>
                        </td>
                    </tr>
                </tbody>
            </table>
            </td>
            <td>&nbsp;</td>
        </tr>
        <!-- linea azul inferior -->
        <tr>
            <td>&nbsp;</td>
            <td height="5px" align="center" style="padding: 7px;"><!-- aqui por los datos de contacto y eso -->          <a style="text-decoration: none;" href="http://skykidsperu.com">           <span style="font-family: Tahoma;">             <span style="color: rgb(255, 255, 255);">                 http://skykidsperu.com             </span>           </span>         </a>         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;          <a style="text-decoration: none;" href="mailto:ventas@skykidsperu.com?subject=Informaci%C3%B3n">            <span style="font-family: Tahoma;">              <span style="color: rgb(255, 255, 255);">ventas@skykidsperu.com</span>            </span>          </a></td>
            <td>&nbsp;</td>
        </tr>
    </tbody>
</table>
<p>&nbsp;</p>