<h3><%= @contact_name %>,</h3>

<p>Hemos preparado una cotizaci&oacute;n seg&uacute;n tus requerimientos. Puedes acceder a ella en la siguiente direcci&oacute;n:
<%= link_to @email_link, @email_link %>. 

<p>Si no aprecia el enlace correctamente, copie y pegue en su navegador la siguiente dirección:
	<strong><%= @email_link %></strong>
</p>

<% if @from_web then %>
	Para poder mantener esos precios preferenciales, imprima su cotizaci&oacute;n y ac&eacute;rquese a cualquiera de nuestras tienda
<% end %>


<p>Estamos seguros que ser&aacute; de su agrado</p>

<p>Nuestros Precios ya incluyen IGV. Realizamos envios dentro de Lima y el Callao; otras zonas favor consultar.</p>

<p>Brindamos Servicio de envoltura en papel de regalo navide&ntilde;o, etiquetado con datos de sexo, edad y/o c&oacute;digo
seg&uacute;n su preferencia para una optima repartici&oacute;n a sus trabajadores.
</p>

<p>Nuestros juguetes son enviados con las garant&iacute;as necesarias en cuanto al funcionamiento y su empaquetado.</p>

<p>Nota: de repetirse el juguete regalado,
brindamos la opci&oacute;n de hacer el cambio respectivo dentro de las fechas 20 de diciembre al 31 de Diciembre con otros que
poseamos en stock .
</p> 

<p>SkyKids brinda la mayor seguridad en compras a sus clientes y garant&iacute;a de buen funcionamiento del Juguete.</p>
 

<h3>Skykids Import S.A.C.</h3>