<h2>Ajuste de Caja</h2>

<%= render :partial=>'sales_list' %>

<fieldset>
	
	<legend>Gastos del d&iacute;a</legend>
	
	<%= render :partial=>'add_expense' %>
	
	<%= render :partial=>'expenses_list' %>
</fieldset>

<%= render :partial=>'summary' %>

